/* Titles style for dashboard toggle */
.titles {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
  }
  
  #computational-dashboard-btn, #project-dashboard-btn {
    font-size: 18px;
    cursor: pointer;
    padding: 0 20px;
  }
  
  /* Active title styles */
  .active {
    color: #333129;
    border-bottom: 2px solid #333129;
    font-weight: bold;
  }
  
  /* Inactive title styles */
  .inactive {
    color: #b0aca1;
    border-bottom: 2px solid transparent;
  }
  
  #computational-dashboard-btn:hover,
  #project-dashboard-btn:hover {
    color: #666666;
  }
  
  
  body {
    font-family: 'Cabin', sans-serif;
    background-color: #fffcf5;
    color: #333129;
    margin: 0;
    padding: 0;
    overflow: hidden; /* 防止页面滚动条 */
  }
  
  h1, h2, h3, h4, h5, h6, p, ul, li, div, a {
    font-family: 'Cabin', sans-serif; /* 统一使用 Helvetica 字体 */
  }
  
  header {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  
  h1 {
    font-size:18px;
    margin-left: 30px;
  }

  .search-bar-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-right: 30px;
    margin-bottom: 20px;
  }
  
  
  .search-bar {
    display: flex;
    justify-content: flex-end; /* Align search bar to the right */
    align-items: flex-start;
    gap: 20px; /* Adjust the gap between the filters */
    margin-right: 30px; /* Add a right margin for spacing */
    margin-bottom: 0px; /* Adjustable gap between the search bar and project cards */
  }
  
  .category-filter {
    margin-left: 30px;
    flex: 1;
  }
  
  
  .category-filter h3 {
    margin-bottom: 10px;
    font-size:clamp(14px, 1.0vw, 20px); 
  }
  
  .category-filter ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom:20%;/* 间隙 */
  }
  
  .category-filter li {
    cursor: pointer;
    padding: 1px 4px;
    border: 1px solid #333129;
    border-radius: 4px;
    font-size:clamp(14px, 0.8vw, 20px); 
  }
  
  .category-filter li.active {
    background-color: #333129;
    color: #fffcf5;
  }
  
  .category-filter li.disabled {
    color: #b0aca1; /* 灰色字体 */
    border: 1px solid #b0aca1; /* 灰色边框 */
    cursor: not-allowed; /* 禁止点击光标 */
  }
  
  .search-input {
    padding: 4  px;
    font-size: 8px;
    border-radius: 4px;
    border: 1px solid #333129;
  }
/* Container for the person image, positioned at the bottom of the project card */
.person-container {
  position: absolute;
  bottom: 1vh;  /* Adjusted relative to viewport height for more responsiveness */
  left: 0;
  width: 12vw;  /* Scales with the screen width */
  z-index: 10;
  transition: left 0.5s ease, opacity 0.5s ease;  /* Smooth transition */
}

/* Main person image settings */
#person-image {
  position: absolute;
  bottom: 1vh; /* Relative to viewport height */
  width: 12vw;  /* Scales based on screen width */
  max-width: 180px; /* Ensures it doesn’t get too large */
  min-width: 120px; /* Sets a minimum size for small screens */
  z-index: 10;
  transition: opacity 0.3s ease, width 0.3s ease; /* Adds width scaling transition */
  display: block;
}

/* Centered image configuration for search or filter mode */
.centered-person {
  position: fixed;
  left: 50vw; /* Centers horizontally */
  top: -10vh; /* Centers vertically */
  transform: translate(-50%, -50%);
  width: 8vw; /* Scales to 8% of viewport width */
  max-width: 120px; /* Limit maximum size */
  min-width: 80px; /* Sets a minimum size */
  z-index: 100; /* Ensures it stays on top */
}

.project-card {
  flex: 0 0 calc(100% / 4); /* 每行显示4张卡片 */
  overflow: hidden;
  background-color: #fffcf5;
  text-align: left;
  height: 80%; /* 设置卡片高度占满父容器 */
  position: relative;
  display: flex;
  flex-direction: column; /* 垂直布局 */
  justify-content: space-between; /* 分配文字和图片的空间 */
  border-bottom: 2px solid rgb(160, 160, 160); /* 添加底部灰色线条 */
  padding: 0; /* 移除多余的内边距 */
}


.project-card img {
  width: 100%; /* 图片占满卡片宽度 */
  height: auto; /* 保持图片比例 */
  max-height: none; /* 移除高度限制 */
  object-fit: cover; /* 确保图片填充 */
  position: absolute; /* 绝对定位 */
  bottom: 0; /* 图片贴住卡片底部 */
  left: 0; /* 居左对齐 */
}



.project-list {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  position: relative;
  height: calc(100vh - 200px); /* 调整视口高度 */
  gap: 0; /* 移除卡片之间的间距 */
  align-items: stretch; /* 确保卡片高度一致 */
}

.project-info {
    padding: 10px;
    position: relative;
    z-index: 1;
    margin-bottom: 120px; /* 保证图片和信息部分有足够间距 */
}

.project-info h4 {
    margin: 0;
    font-weight: bold;
    font-size: clamp(14px, 1vw, 20px); 
    margin-bottom: 20px; /* 缩小标题与描述的间距 */
}

.project-info h5 {
    color: #b0aca1;
    font-size: 11px;
    margin: 10px 0;  /* 减少 h5 元素之间的间距 */
    padding: 0;
}



  
  .tags {
    display: flex;
    flex-direction: column;
    gap: 1px;
  
  }
  
  .tag {
    color: #b0aca1;
    font-size:11px; 
  }
  
  .details-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: #fffcf5;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
  }
  
  .details-header {
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .details-header h2{
    color: #fff;
    font-size: 48px;
    font-weight: normal;
  }
  
  .details-content {
    display: flex;
    padding: 20px;
    flex: 1;
  }
  
  .details-sidebar {
    flex: 0 0 20%;
    background-color: #e0e0e0; /* 浅灰色背景 */
    padding: 20px;
    margin-right: 20px;
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; /* 垂直居中 */
    overflow-wrap: break-word; /* 确保文本在必要时可以断行 */
    word-wrap: break-word; /* 较旧的浏览器可能需要这个 */
    overflow: hidden; /* 防止内容溢出 */
  }
  
  /* 定义在详情侧边栏内所有超链接的基本样式 */
  .details-sidebar a {
    font-style: italic;       /* 设置文字为斜体 */
    color: #b0aca1;          /* 浅灰色 */
    text-decoration: none;   /* 去除下划线 */
    transition: color 0.3s;  /* 平滑颜色过渡 */
  }
  
  /* 鼠标悬停时的样式 */
  .details-sidebar a:hover {
    color: #999999;          /* 鼠标悬停时稍微深一点的灰色 */
  }
  
  /* 链接被点击（激活）后的样式 */
  .details-sidebar a:active {
    color: #666666;          /* 点击时的深灰色 */
  }
  
  
  .details-gallery {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
    padding: 10px;
  }
  
  .details-gallery img,
  .details-gallery video {
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
  }
  
  :root {
    --back-button-bg: #333129; /* 背景色 */
  }
  
  

  
  .arrow-left {
    width: 12px;
    height: 12px;
    border-top: 2px solid #fffcf5;
    border-right: 2px solid #fffcf5;
    transform: rotate(-135deg);
  }
  
  .transition-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; /* Viewport Width for full screen */
    height: 100vh; /* Viewport Height for full screen */
    object-fit: cover;
    transition: all 0.8s ease;
    z-index: 10000;
  }
  
  .aspect-ratio {
    position: relative;
    width: 100%; /* 根据容器调整宽度 */
    padding-top: 56.25%; /* 16:9的宽高比 (100%/16*9 = 56.25%) */
  }
  
  .aspect-ratio iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
  



  /* Close button style */
  .close-button, .back-button {
    position: fixed; /* 固定位置 */
    top: 7px; /* 调整顶部间距 */
    color: #666666; /* 默认文本颜色 */
    background: transparent; /* 透明背景 */
    width: 40px;
    height: 30px;
    border-radius: 5px; /* 轻微倒角 */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
    z-index: 10001; /* 确保按钮在其他元素之上 */
    transition: background-color 0.3s, color 0.3s; /* 平滑过渡效果 */
    border: 2px solid transparent; /* 初始无边框 */
  }

  /* Close button positioning */
  .close-button {
    right: 20px; /* Close 按钮靠右 */
  }

  /* Back button positioning */
  .back-button {
    left: 20px; /* Back 按钮靠左 */
    width: 100px;
  }

  /* Hover effect for both buttons */
  .close-button:hover, .back-button:hover {
    color: white; /* 悬停时的文本颜色 */
    background-color: #666666; /* 悬停时的背景颜色 */
    border-radius: 5px; /* 保持圆角 */
  }

  /* Fixed header container */
  .fixed-header {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    padding: 0 20px;
    background-color: #fffcf5; /* 背景颜色可自定义 */
    z-index: 1000;

  }


  /* Centered navigation bar */
  .center-nav-bar {
    flex: 1;
    display: flex;
    justify-content: center;  /* 确保内容居中 */
    align-items: center;
  }

  /* Custom nav item styling */
  .custom-nav-item {
    font-size: 18px;
    cursor: pointer;
    padding: 0 20px;
    text-align: center;
  }

  /* Active state */
  .custom-nav-item.active {
    color: #333129;
    border-bottom: 2px solid #333129;
    font-weight: bold;
  }

  /* Inactive state */
  .custom-nav-item.inactive {
    color: #b0aca1;
    border-bottom: 2px solid transparent;
  }

  /* Hover effect */
  .custom-nav-item:hover {
    color: #666666;
  }

  /* Close button (X) styling */
  .close-button {
    font-size: 18px;
    cursor: pointer;
  }

  
  /* //////////////////////////// */
