/* Ensure full height for html and body to allow scrolling */
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    background-color: #ffffff;
}

/* Container for the entire splash page */
#splash-container {
    width: 100vw;
    overflow: hidden;
}

/* Section for the Payette image, horizontally centered */
#payette-section {
    text-align: center;
    margin-bottom: 0px;
    padding-top: 0px;
    position: relative;
}

/* Payette image styles */
#payette-bg {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    object-fit: cover;
}

/* Wood and Pen images */
#wood, #pen {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    visibility: hidden;
    cursor: pointer;
    z-index: 10; /* 确保 wood 和 pen 在页面的最前面 */
}

/* Left and right sensor areas for mouse detection */
.sensor {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    background-color: transparent; /* Invisible, but interactive */
    z-index: 5; /* Sensor区域比wood和pen的层级要低 */
}

#left-sensor {
    left: 0; /* Left side */
}

#right-sensor {
    right: 0; /* Right side */
}

/* Section for the BG image */
#bg-section {
    position: relative;
    width: 100vw;
    height: auto;
}

/* BG image */
#bg-image {
    width: 100%;
    height: auto;
}

/* Styles for all building images */
.building {
    position: absolute;
    visibility: hidden;
}


/* Individual position and size adjustments for each building */
#building1 {
    left: 34.6%;
    top: 20.9%;
    width: 22.1%;
}

#building2 {
    left: 62.1%;
    top: 58.3%;
    width: 24.0%;
}

#building3 {
    left: 66.35%;
    top: 48.7%;
    width: 33.1%;
}

#building4 {
    left: 24.95%;
    top: 61.45%;
    width: 30.15%;
}

#building5 {
    left: 6.00%;
    top: 56.6%;
    width: 20.7%;
}

#building6 {
    left: 33.6%;
    top: 44.65%;
    width: 20.55%;
}

#building7 {
    left: 42.05%;
    top: 35.10%;
    width: 25.8%;
}

#building8 {
    left: 9.3%;
    top: 20.75%;
    width: 18.6%;
}

#building9 {
    left: 62.85%;
    top: 16.15%;
    width: 35.2%;
}



/* //////////////////////////// */
/* 按钮容器 */
#mode-selection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* 与地图的间距 */
    padding: 20px 0;
  }
  
  /* 按钮样式 */
  #mode-selection button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333129;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    margin: 0 10px; /* 按钮之间的间距 */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* 平滑过渡效果 */
  }
  
  /* 悬停效果 */
  #mode-selection button:hover {
    background-color: #b0aca1; /* 浅灰色背景 */
    color: #333129; /* 文字颜色变深 */
}
  


/*old buildingmap Individual position and size adjustments for each building
#building1 {
    left: 31.38%;
    top: 10.97%;
    width: 18.1%;
}

#building2 {
    left: 53.78%;
    top: 41.57%;
    width: 19.19%;
}

#building3 {
    left: 57.2%;
    top: 36.89%;
    width: 34.25%;
}

#building4 {
    left: 23.97%;
    top: 44.22%;
    width: 24.1%;
}

#building5 {
    left: 8.04%;
    top: 40.06%;
    width: 17.08%;
}

#building6 {
    left: 30.55%;
    top: 30.27%;
    width: 17.05%;
}

#building7 {
    left: 37.3%;
    top: 22.53%;
    width: 21.24%;
}

#building8 {
    left: 10.8%;
    top: 10.9%;
    width: 15.1%;
}

#building9 {
    left: 54.44%;
    top: 7.16%;
    width: 28.66%;
}

#building10 {
    left: 17.46%;
    top: 70.84%;
    width: 27.80%;
}

#building11 {
    left: 77.04%;
    top: 26%;
    width: 17.1%;
}

#building12 {
    left: 54.85%;
    top: 13.79%;
    width: 17.75%;
}

#building13 {
    left: 83%;
    top: 32.6%;
    width: 9.4%;
}
*/